* text=auto

*.pdf -text
*.xlsx -text
*.xls -text
*.pptx -text
*.docx -text
*.png -text
*.jpg -text
*.jpeg -text
*.zip -text

*.step -text
*.STEP -text
*.stp -text
*.STP -text
*.sldprt -text
*.SLDPRT -text
*.sldasm -text
*.SLDASM -text
*.stl -text
*.STL -text
